Project Documentation 

 ┌───────────────────┐
                │ Incident Input    │
                │ / Log File        │
                └─────────┬─────────┘
                          │
                          ▼
                ┌───────────────────┐
                │ Python Processor  │
                └─────────┬─────────┘
                          │
                          ▼
                ┌───────────────────┐
                │ AI / LLM          │
                │ Incident Analysis │
                └─────────┬─────────┘
                          │
              ┌───────────┼────────────┐
              ▼           ▼            ▼
          Category      Severity       RCA
              │           │            │
              └───────────┼────────────┘
                          ▼
                ┌───────────────────┐
                │ Incident Report   │
                └───────────────────┘


                   GitLab
                     │
                     ▼
                CI/CD Pipeline
                     │
                     ▼
                  Docker
                     │
                     ▼
              Python Application
                     │
          ┌──────────┼──────────┐
          ▼          ▼          ▼
       LLM API    Elasticsearch  Logs
                     │
                     ▼
                   Kibana




ai-incident-assistant/
│
├── app/
│   ├── __init__.py
│   └── main.py
│
├── sample_logs/
│   └── payment_timeout.log
│
├── tests/
│   └── test_basic.py
│
├── docs/
│
├── .gitignore
├── README.md
└── requirements.txt


Documentation Version :

- version 0.1 
Manual incident input
        ↓
Rule-based classification

- version 0.2
Log parser
        ↓
Error detection

- version 0.3

LLM
        ↓
AI incident analysis

- version 0.4

Automated testing
        ↓
GitLab CI/CD

- version 0.5

Docker
+
Elasticsearch
+
Kibana